/* layout */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #B3B3B3;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.float-left{
  float: left;
}

.w-50{
  width: 49%;
}

.m-30{
  margin: 30px 0;
}

a{
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-size: 80%;
}

.center{
  width: 100%;
  padding: 0 10%;
  text-align: center;
}

hr{
  border-top: 1px solid #B3B3B3;
  width: 95%;
  margin: auto;
}

/* header */
header{
  height: 550px;
  background-color: #0C325A;
  color: white;
}

.header-container{
  min-width: 1400px;
  height: 100%;
  background-image: url('../img/background-header.png');
  background-size: 1000px;
  background-repeat: no-repeat;
  background-position: 115% 100%;
}

nav{
  height: 80px;
  line-height: 80px;
  overflow: hidden;
}

nav ul{
  list-style: none;
}

nav ul li{
  display: inline;
  padding: 10px;
}

nav .logo{
  width: 15%;
}

.logo img{
  margin-top: 14px;
}

nav .nav-center{
  width: 45%;
}

nav .nav-right{
  width: 40%;
  text-align: right;
}

.btn{
  display: inline-block;
  color: white;
  border-radius: 5px;
  line-height: 20px;
  padding: 5px 10px;
}

.btn.btn-blue{
  border: 1px solid white;
  padding-left: 30px;
  padding-right: 30px;
}

.btn.btn-green{
  background-color: #7CBC05;
}

.btn.btn-large{
  padding: 20px;
}

.jumbotron{
  height: 470px;
  position: relative;
}

.jumbotron-text{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: left;
}

.jumbotron-text h1{
  color: white;
  font-size: 350%;
  margin-bottom: 30px;
}

/* layout section-1 */
.section-1{
  height: 140px;
  background-color: #D3D3D3;
}

.section-1 .text{
  line-height: 34px;
  padding-top: 37px;
}

.section-1 .text h3{
  color: black;
  font-size: 170%;
}

.section-1 .text p{
  font-size: 120%;
}

/* section 2 */
.section-2 .raw-1{
  width: 100%;
  margin-top: 40px;
}

.section-2 .raw-3{
  width: 100%;
  margin-bottom: 20px;
}

.section-2 .box{
  width: 30%;
  margin: auto;
  margin: 0 1%;
  display: inline-block;
  vertical-align: top;
}

.section-2 .raw-1 .box img{
  height: 200px;
}

.section-2 .raw-2 h4{
  font-size: 176%;
  color: #7CBC05;
}

.section-2 .raw-3 .text p{
  font-size: 105%;
  line-height: 25px;
  padding-top: 20px;
}

.section-2 .raw-3 .text hr{
  width: 80px;
  margin: auto;
}

/* section 3 */
.section-3 .box-text{
  vertical-align: top;
  text-align: left;
}

.section-3 .box-text h4{
  color: black;
  font-size: 155%;
}

.section-3 .box-text p{
  font-size: 96%;
  padding: 10px 0;
}

.section-3 .box-text a{
  color: #628FC1;
  font-size: 80%;
  text-transform: none;
}

.section-3 .box-text, .box-img{
  display: inline-block;
  width: 40%;
  margin: 4%;
}

.section-3 .box-img img{
  width: 100%;
}

/* section 4 */
.section-4{
  background-color: #D3D3D3;
  padding: 3% 10%;
}
.section-4 div{
  display: inline-block;
}

.section-4 h4{
  color: black;
  font-size: 155%;
  text-align: left;
}

.section-4 .box-2{
  text-align: right;
}

.section-4 .box-2 p{
  display: inline-block;
}

.section-4 .box-2 .select{
  display: inline-block;
  margin: 0 25px;
  font-size: 120%;
  text-align: left;
  border-bottom: 1px solid #B3B3B3;
}

.section-4 .box-2 .select div{
  width: 130px;
}

/* help */
section .help{

}

section.help a{
  position: fixed;
  bottom: 0;
  right: 100px;
  z-index: 999;
  border-radius: 5px 5px 0 0;
}