/* layout */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #B3B3B3;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.float-left{
  float: left;
}

.m-30{
  margin: 30px 0;
}

.w-50{
  width: 49%;
}

h4{
  color: black;
  font-size: 200%;
}

a{
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-size: 80%;
}

.center{
  width: 100%;
  padding: 0 10%;
  text-align: center;
}

hr{
  border-top: 1px solid #B3B3B3;
  width: 95%;
  margin: auto;
}

.two-box{
  display: inline-block;
  width: 40%;
  margin: 4%;
}

.three-box{
  width: 28%;
  margin: auto;
  margin: 0 2%;
  display: inline-block;
}

/* header */
header{
  height: 550px;
  background-color: #0C325A;
  color: white;
}

.header-container{
  min-width: 1400px;
  height: 100%;
  background-image: url('../img/background-header.png');
  background-size: 1000px;
  background-repeat: no-repeat;
  background-position: 115% 100%;
}

nav{
  height: 80px;
  line-height: 80px;
  overflow: hidden;
}

nav ul{
  list-style: none;
}

nav ul li{
  display: inline;
  padding: 10px;
}

nav .logo{
  width: 15%;
}

nav .logo img{
  margin-top: 14px;
}

nav .nav-center{
  width: 45%;
}

nav .nav-right{
  width: 40%;
  text-align: right;
}

/* button */
.btn{
  display: inline-block;
  color: white;
  border-radius: 5px;
  line-height: 20px;
  padding: 5px 10px;
}

.btn.btn-blue{
  border: 1px solid white;
  padding-left: 30px;
  padding-right: 30px;
}

.btn.btn-green{
  background-color: #7CBC05;
}

.btn.btn-large{
  padding: 20px;
}

/* jumbotron in header */
.jumbotron{
  height: 470px;
  position: relative;
}

.jumbotron-text{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: left;
}

.jumbotron-text h1{
  color: white;
  font-size: 350%;
  margin-bottom: 30px;
}

/* layout section-1 */
.section-1{
  height: 140px;
  background-color: #D3D3D3;
}

.section-1 .text{
  line-height: 34px;
  padding-top: 37px;
}

.section-1 .text p{
  font-size: 120%;
}

/* section 2 */
.section-2{
  margin-top: 40px;
  margin-bottom: 20px;
}

.section-2 .box{
  vertical-align: top;
}

.section-2 img{
  height: 200px;
}

.section-2 .raw-2 h4{
  color: #7CBC05;
}

.section-2 .raw-3 .text p{
  font-size: 105%;
  line-height: 25px;
  padding-top: 20px;
}

.section-2 .raw-3 .text hr{
  width: 80px;
  margin: auto;
}

/* section 3 */
.section-3 .box-text{
  vertical-align: top;
  text-align: left;
}

.section-3 .box-text p{
  font-size: 96%;
  padding: 10px 0;
}

.section-3 .box-text a{
  color: #628FC1;
  font-size: 80%;
  text-transform: none;
}

/* section 4 */
.section-4{
  background-color: #D3D3D3;
  padding: 3% 10%;
  margin: 0;
}
.section-4 div{
  display: inline-block;
  margin: 0;
}

.section-4 h4{
  text-align: left;
}

.section-4 .box-2{
  text-align: right;
}

.section-4 .box-2 p{
  display: inline-block;
}

.section-4 .box-2 .select{
  margin: 0 25px;
  font-size: 120%;
  text-align: left;
  border-bottom: 1px solid #B3B3B3;
}

.section-4 .box-2 .select div{
  width: 130px;
}

/* section-5 */
.section-5 .text{
  text-align: justify;
  padding: 45px 10px;
}

.section-5 p{
  padding: 40px 0;
  font-size: 140%;
}

.section-5 .text p:last-child{
  display: inline-block;
  color: #BFCBDC;
  font-size: 108%;
  text-align: center;
  padding: 0;
}

.section-5 .btn{
  font-size: 90%;
  text-align: left;
  padding: 10px 25px;
  line-height: 120%;
}

/* section 6 */
.section-6{
  padding: 10% 25%;
}

.section-6 .text{
  margin: 2%;
}

.section-6 .text span{
  color: #7CBC05;
}

.section-6 .text p:first-of-type{
  margin: 18px 0;
}

.section-6 .text p:last-of-type{
  font-size: 130%;
}

.section-6 .text a{  
  color: #BFCBDC;
  font-size: 100%;
  text-transform: none;
  text-decoration: underline;
  line-height: 60px;
}

/* section-7 */
.section-7{
  background-color: #0B3259;
}

.section-7 .text{
  width: 30%;
  padding: 10% 0 6%;
  text-align: left;
}

.section-7 .text h4{
  color: white;
}

.section-7 .text p{
  padding: 40px 0 40px;
  line-height: 22px;
}

.section-7 .text a{
  font-size: 120%;
  padding: 10px 20px;
}

/* section-8 */
.section-8{
  padding: 4% 10%;
}

.section-8 .text h4{
  margin: 6% 0;
}

.section-8 .raw-1 img{
  display: block;
  text-align: left;
  height: 60px;
}

.section-8 .box{
  text-align: left;
}

.section-8 h5{
  color: black;
  font-size: 140%;
  line-height: 70px;
}

.section-8 .text p, .section-8 .text .raw-3 a{
  font-size: 120%;
  line-height: 25px;
}

.section-8 .text hr{
  margin: 20px 0;
  border: 3px solid;
}

.section-8 .text .raw-3 .box-1, .section-8 .text .raw-3 .box-1 a{
  color: #96C9F6;
}

.section-8 .text .raw-3 .box-2, .section-8 .text .raw-3 .box-2 a{
  color: #F5A618;
}

.section-8 .text .raw-3 .box-3, .section-8 .text .raw-3 .box-3 a{
  color: #82B417;
}

.section-8 .text .raw-3 a{
  text-transform: none;
  text-decoration: underline;
}

/* section-9 */
.section-9{
  background-color: #0B3259;
}

.section-9 .text{
  width: 35%;
  padding: 6% 0;
  text-align: left;
}

.section-9 h4{
  color: white;
}

.section-9 span{
  color: #F5A618;
}

.section-9 p{
  line-height: 40px;
}

/* section-footer */
.section-footer{
  background-color: #16416B;
}

.section-footer .container{
  width: 80%;
  margin: auto;
  padding: 5% 0;
}

.section-footer h5{
  color: white;
  font-size: 150%;
  line-height: 50px;
}

.section-footer .box-left, .section-footer .box-right{
  width: 49%;
  margin: auto;
  display: inline-block;
  vertical-align: top;
}

.section-footer .box-left{
  text-align: left;
}

.section-footer .box-right{
  text-align: right;
}

.section-footer .box-left ul{
  list-style: none;
  text-align: left;
  display: inline-block;
}

.section-footer .box-left a{  
  color: #BFCBDC;
  font-size: 90%;
  text-transform: none;
  line-height: 30px;
}

.section-footer .box-right h5{
  line-height: 50px;
}

.section-footer .box-right p{
  margin: 40px 0;
  line-height: 20px;
}


/* help */
section.help a{
  position: fixed;
  bottom: 0;
  right: 100px;
  z-index: 999;
  border-radius: 5px 5px 0 0;
}